body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 80px;
  z-index: 1;
  /*margin-top: -10px;*/
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo span {
  color: MediumAquamarine;
  padding: 0 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

header nav {
  padding-right: 40px
}

main {
  display: flex;
  padding-top: 110px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.picture {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}

.picture.headline {
  font-size: 40px;
  text-align: left;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

.picture.seasonal {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.picture.culture {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.picture.funny {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.story,
#lead-story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stories {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.stories .text {
  height: 250px;
}
